# Ignorar a pasta do executável
LibreHardwareMonitor/

# Ignorar arquivos do Windows/IDE
Thumbs.db
.idea/
.vscode/
*.iml

# Ignorar compilação do Java
target/
*.class
C:\Users\zyppy\OneDrive\Desktop\PROJETINHO\LibreHardwareMonitor
.env
/LibreHardwareMonitor/
/[Ll]ibre[Hh]ardware[Mm]onitor/
*.exe
*.dll
*.sys
*.config
/target/
.idea/
.vscode/
/SISTEMA/src/main/java/com/fernandoprado/lhmagent/Controller/enviroment/EnvConfiguration.java
/SISTEMA/src/main/resources/images/sr5zd6da43c2e0aws3.png
